.nearest-event{
    padding-top: 20px;
    color: #000000;
    font-family: sans-serif;
}
.side-by-side{
  display: flex;
  flex-direction: row;
  padding-top: 3%;
}
.card_destinasi{
  display: flex;
  flex-direction: row;
  padding-top: 3%;
}
.h2{
    color: var(--brand-navy-primary);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.3;
}
.css-1xgjpwf-MuiGrid-root {
    width: calc(100% + 24px);
    padding-right: 275px;
  }
  .most-event{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: navy;
    width:100%;
    height: 300px;
    color: #fff;
  }
.splide__slide img {
    width: 100%;
    height: auto;
  }
  .landing-page-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
  }
  .landing-page-top-container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image:url('../../img/12.jpg');
    background-position: 0% 40%;
    font-family: "THICCCBOI", sans-serif;
    color: #ffffff;
  }
  .landing-page-navbar {
    width: 80%;
    display: flex;
    margin-top: 60px;
    border-radius: 25px;
    padding-right: 20px;
    max-width: 100%;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    color: #000000;
    justify-content: space-between;
  }
  .landing-page-right-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-links-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-text {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-text01 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-text02 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-burger-menu {
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-burger-menu {
    width: 24px;
    height: 24px;
  }
  .landing-page-mobile-menu {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    padding: var(--dl-space-space-doubleunit);
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .landing-page-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .landing-page-top {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-close-menu {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .landing-page-icon03 {
    width: 24px;
    height: 24px;
  }
  .landing-page-right-side1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-links-container1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-text03 {
    margin-bottom: 8px;
  }
  .landing-page-text04 {
    margin-bottom: 8px;
  }
  .landing-page-text05 {
    margin-bottom: 8px;
  }
  .landing-page-link {
    display: contents;
  }
  .landing-page-follow-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-text07 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-icons-container {
    width: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-link01 {
    display: contents;
  }
  .landing-page-icon05 {
    width: 24px;
    height: 24px;
  }
  .landing-page-link02 {
    display: contents;
  }
  .landing-page-icon07 {
    width: 24px;
    height: 24px;
  }
  .landing-page-link03 {
    display: contents;
  }
  .landing-page-icon09 {
    width: 24px;
    height: 24px;
  }
  .landing-page-hero {
    flex: 1;
    width: 100%;
    display: flex;
    max-width: 1000px;
    align-items: center;
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .landing-page-content-container {
    width: 200px;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .landing-page-main {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-quadruple);
    justify-content: flex-start;
  }
  .landing-page-thq-dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 2px;
  }
  .landing-page-dropdown-toggle {
    fill: #595959;
    color: #595959;
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: 2px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-dropdown-arrow {
    transition: 0.3s;
  }
  .landing-page-icon11 {
    width: 18px;
    height: 18px;
    margin-top: auto;
    transition: 0.3s;
    margin-bottom: auto;
  }
  .landing-page-dropdown-list {
    left: 0%;
    width: max-content;
    display: none;
    z-index: 100;
    position: absolute;
    min-width: 100%;
    transition: 0.3s;
    align-items: stretch;
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: 4px;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--dl-color-gray-white);
    list-style-position: inside;
  }
  .landing-page-dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 2px;
  }
  .landing-page-dropdown-toggle1 {
    fill: #595959;
    color: #595959;
    width: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: 4px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-dropdown-toggle1:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }
  .landing-page-text08 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-dropdown1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 2px;
  }
  .landing-page-dropdown-toggle2 {
    fill: #595959;
    color: #595959;
    width: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: 4px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-dropdown-toggle2:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }
  .landing-page-text09 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-dropdown2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 2px;
  }
  .landing-page-dropdown-toggle3 {
    fill: #595959;
    color: #595959;
    width: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: 4px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-dropdown-toggle3:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }
  .landing-page-text10 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text11 {
    align-self: flex-start;
  }
  .landing-page-text12 {
    color: var(--dl-color-gray-500);
    align-self: flex-start;
    text-align: justify;
  }
  .landing-page-gallery {
    width: 100%;
    display: grid;
    padding: 48px;
    grid-gap: var(--dl-space-space-unit);
    max-width: 1400px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .css-1ri6ub7-MuiPaper-root-MuiCard-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    overflow: hidden;
    max-width: 345px;
    margin: 10px;
  }
  .landing-page-footer {
    color: var(--dl-color-gray-white);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-tripleunit);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
  }
  .landing-page-menu {
    width: 100%;
    display: flex;
    max-width: 1000px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-links-container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-container1 {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    flex-direction: column;
  }
  .landing-page-link04 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .landing-page-link05 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .landing-page-link06 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .landing-page-container2 {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    flex-direction: column;
  }
  .landing-page-link07 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .landing-page-link08 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .landing-page-link09 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .landing-page-link10 {
    text-decoration: none;
  }
  .landing-page-follow-container1 {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-text13 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-icons-container1 {
    width: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-link11 {
    display: contents;
  }
  .landing-page-icon13 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }
  .landing-page-link12 {
    display: contents;
  }
  .landing-page-icon15 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }
  .landing-page-link13 {
    display: contents;
  }
  .landing-page-icon17 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }
  @media(max-width: 991px) {
    .landing-page-hero {
      padding-left: var(--dl-space-space-tripleunit);
      padding-right: var(--dl-space-space-tripleunit);
    }
    .landing-page-gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media(max-width: 767px) {
    .landing-page-right-side {
      display: none;
    }
    .landing-page-burger-menu {
      display: flex;
    }
    .landing-page-hero {
      justify-content: center;
    }
    .landing-page-content-container {
      align-items: center;
    }
    .landing-page-main {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .landing-page-gallery {
      padding-left: 32px;
      padding-right: 32px;
    }
    .landing-page-menu {
      flex-direction: column;
    }
    .landing-page-links-container2 {
      margin-top: var(--dl-space-space-tripleunit);
      margin-bottom: var(--dl-space-space-tripleunit);
      justify-content: space-between;
    }
    .landing-page-container1 {
      margin-left: 0px;
    }
  }
  @media(max-width: 479px) {
    .landing-page-gallery {
      padding-top: 32px;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: 32px;
    }
    .landing-page-links-container2 {
      margin-top: var(--dl-space-space-doubleunit);
      align-items: flex-start;
      justify-content: flex-start;
    }
    .landing-page-link04 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .landing-page-link05 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .landing-page-link06 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .landing-page-container2 {
      height: 100%;
      align-items: flex-start;
      margin-left: 50px;
    }
    .landing-page-link07 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .landing-page-link08 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .landing-page-link09 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .landing-page-link10 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .landing-page-follow-container1 {
      margin-left: 0px;
    }
  }
  