@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  /* background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
 background-color: #FFFFFF;
  background-size:100%;
  font-family: "work sans";
  background-repeat:no-repeat;
  background-size:100% 100vh;
}

html{
  font-size: 100%;
}

#form{
  max-width: 80%;
  min-width: 300px;
  max-height: 700px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#textlogin{
    padding: 10px;
}
.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  
}
